{% extends 'base.html' %}

{% block form %}
{{super()}}
<div class='reg_form'>
    {% for msg in get_flashed_messages() %}
        <p class="flash">{{msg}}</p>
    {% endfor %}
    <form action="/reg" method="post">
        <p><label>Имя: </label><input type="text" name="name"></p>
        <p><label>Фамилия: </label><input type="text" name="surname"></p>
        <p><label>Логин: </label><input type="text" name="login"></p>
        <p><label>Пароль: </label><input type="password" name="psw"></p>
        <p><input type="submit" value="Зарегистрироваться"></p>
    </form>
</div>
{% endblock %}
{% block user%}
        <div>Вы зашли под пользователем: {{username}}</div>
        {% if username != 'Гость'%}
            <a href="{{url_for('logout')}}">Выйти</a>
        {% endif%}
{% endblock %}